 /node/
  hard/matmul/seed.bin
  hard/matmul/solution.bin
  hard/matmul/*.bin
  hard/matmul/matmul
  hard/matmul/*.o
  hard/matmul/scripts/node_modules/
  *.log
/node/
hard/matmul/build_riscv/
/amadeus-typescript-sdk/
/.env
